.banner{
  /* podés mover todo a shorthand para dejarlo en una sola línea */
  background:
    linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
    url("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png")
    center/cover no-repeat;
  min-height: 45vh;
  display: flex;
  align-items: center;  /* centra verticalmente el texto */
  background-position: center, 75% 75%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
